.background{
    background-color: #2b3133;
}
.weather-formatting{
    column-count: 1;
}
.current-weather {
    padding: 2em;
    text-align: center;
    background-color: #d8e1e8;
}
.playerInfo{
    margin-bottom: 10px;
    background-color: #6c8891;
    border-width: 5px;
    border-color: #6c8891;
    text-align: center;
    column-count: 1;
}
.stats{
    background-color: #6c8891;
    border-width: 5px;
    border-color: #6c8891;
    text-align: center;
    column-count: 1;
}
.divider{
    padding: .5em;
}
h1{
    text-align: center;
    color: #e0e0e0;
}
footer{
    padding: 1em;
}
label{
    color: #e0e0e0;
}
p{
    color: #e0e0e0;
}
@media only screen and (min-width: 600px){
    .weather-forecast{
        column-count: 2;
    }
}

@media only screen and (min-width: 750px){
    .weather-forecast{
        column-count: 3;
    }   
}
    
@media only screen and (min-width: 1000px) {
    .weather-formatting{
        column-colunt: 2;
    }
    .current-weather{
        border-style: so
    }
    .weather-forecast{
    column-count: 4;
}
}